body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #fffaf0;
  color: #333;
}

header {
  background-color: #a0522d;
  color: white;
  padding: 20px;
  text-align: center;
}

nav {
  background-color: #deb887;
  padding: 10px;
  text-align: center;
}

nav a {
  margin: 0 15px;
  text-decoration: none;
  color: #000;
  font-weight: bold;
}

main {
  background-color:#E0F7FA;
  text-align: center;
  padding: 20px;
}

main img {
  margin: 10px;
  border: 2px solid #a0522d;
}

footer {
  background-color: #eee;
  text-align: center;
  padding: 15px;
  margin-top: 20px;
}

